name: PR build
on:
  workflow_call:
    inputs:
      REPO_OVERRIDE:
        required: true
        type: string
      BRANCH_OVERRIDE:
        required: false
        type: string
    secrets:
      JF_ACCESS_TOKEN:
        required: true
      CI_SSH_KEY:
        required: true

jobs:
  build-vm-images:
    uses: ./.github/workflows/build-vm-images.yml
    with:
      repo-override: ${{ inputs.REPO_OVERRIDE }}
      branch-override: ${{ inputs.BRANCH_OVERRIDE }}
    secrets:
      ssh-key: ${{ secrets.CI_SSH_KEY }}
      rt-user: ${{ secrets.RT_USER }}
      rt-api-key: ${{ secrets.RT_APIKEY }}
      rt-url: ${{ secrets.RT_URL }}

